/*
Place your custom CSS here
*/
.widget-hello-world {
}

.textbox-input .textbox-container {
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: left;
  width: 100%;
  padding: 5px;
}

.textbox-container .material-textfield {
  position: relative;
  width: 100%;
}

.textbox-container label {
  position: absolute;
  font-size: 13px;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #F8F8F8;
  color: #777777;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}

.textbox-container input[type="text"] {
  font-size: 15px;
  outline: none;
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 1rem 0.7rem;
  background-color: #FFFFFF;
  transition: 0.1s ease-out;
  width: 100%;
  height: 115%;
}

.textbox-container input[type="number"] {
  font-size: 15px;
  outline: none;
  border: 1px solid #666666;
  border-radius: 5px;
  padding: 1rem 0.7rem;
  background-color: #FFFFFF;
  transition: 0.1s ease-out;
  width: 100%;
  height: 115%;
}

.textbox-container input:focus {
  border-color: #777777;
}

.textbox-container input:active {
  border-color: #777777;
}

.textbox-container input:focus+label {
  color: #777777;
  top: 0;
  transform: translateY(-50%) scale(0.8) !important;
}

.textbox-container input:not(:placeholder-shown)+label {
  top: 0;
  transform: translateY(-50%) scale(0.8) !important;
}

.textbox-container input:not(:focus)::placeholder {
  opacity: 0;
}
